<section id="banner">
</section>

<article id="main">    
  <section class="wrapper style3 container">

    <form>
      <div class="row half collapse-at-2">
        <div class="6u">
          <input type="text" name="name" placeholder="Activity" ng-model="newActivity.name" />
        </div>
        <div class="2u">
      <button class="button special" type="submit" ng-click="addActivity(newActivity);newActivity = null;">add</button>
        </div>
      </div>
    </form>
  </section>

  <ul id="activities" ng-show="activities.length">
    <li ng-init="showDifficultyForm=1" ng-repeat="activity in activities | reverse">
      <section class="wrapper style3 container">
        <h2>{{activity.name}} 
        <button ng-click="removeActivity(activity)">delete</button>
        </h2>
        <div ng-include="'partials/level.html'" ng-controller="LevelsCtrl"></div>
      </section>
    </li>
  </ul>
</article>