<form>
  <div class="row half collapse-at-2">
    <div class="2u">

 <input type="text" ng-model="newRoute.start" placeholder="Route Start" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>


    </div>
    <div class="2u">
      <input type="text" name="name" placeholder="Route Stop" ng-model="newRoute.stop" />
    </div>
    <div class="2u">
      <input type="text" name="name" placeholder="Route Duration" ng-model="newRoute.duration" />
    </div>
      </div>
  <div class="row half collapse-at-2">
    <div class="2u">
      <select 
        ng-model  ="newRoute.activity" 
        ng-options="activity as activity.name for activity in activities"
        ng-change ="getLevels(newRoute)" >
      </select>
    </div>
    <div class="2u" ng-repeat="level in newRoute.levels">
      <label> {{level.name}}</label>
      <rating ng-model="level.value" 
        max="max" 
        readonly="false" 
        on-hover="hoveringOver(value)">
      </rating>
    </div>
    <div class="2u">
      <button class="button special" ng-click="addRoute(newRoute);newRoute = null;">add</button>
    </div>
  </div>
</form>

<table class="table">
  <tr>
    <td>Start</td>
    <td>Stop</td> 
    <td>Duration</td>
    <td>Activity</td>
    <td></td>
    <td></td>
  </tr>
  <tr ng-repeat="route in routes">
    <td>{{route.start}}</td>
    <td>{{route.stop}}</td>
    <td>{{route.duration}}</td>
    <td>{{route.activity_name}}</td>
    <td ng-repeat="level in route.levels" >
      {{level.name}}
      <rating ng-model="level.value" 
        max="max" 
        readonly="true">
      </rating>

    </td>
    <td>  <button class="btn btn-danger" ng-click="removeRoute(route)"><span class="glyphicon glyphicon-trash"></span>
</button>    </td>
  </tr>
</table>

<h3>Timetable</h3>

<table class="table">
  <tr>
  </tr>
  <tr ng-repeat="connection in transport.connections">
    <td>{{connection.from.station.name}}</td>
    <td>{{connection.from.departure| date:'medium'}}</td>
    <td>{{connection.from.platform}}</td>
    <td>{{connection.to.station.name}}</td>
    <td>{{connection.to.arrival| date:'medium'}}</td>
    <td>{{connection.to.platform}}</td>
  </tr>
</table>



