<pre> {{ trip | json }}</pre>
<form>
  <div class="row half collapse-at-2">
    <div class="2u">
      <input type="text" name="name" placeholder="Route Start" ng-model="newRoute.start" />
    </div>
    <div class="2u">
      <input type="text" name="name" placeholder="Route Stop" ng-model="newRoute.stop" />
    </div>
    <div class="2u">
      <input type="text" name="name" placeholder="Route Duration" ng-model="newRoute.duration" />
    </div>
      </div>
  <div class="row half collapse-at-2">

    <div class="2u">
      <select 
              ng-model  ="newRoute.activity" 
              ng-options="activity as activity.name for activity in activities"
              ng-change ="getLevels(newRoute)" >

        <option value=""></option>
      </select>
    </div>
    <div class="2u" ng-repeat="level in newRoute.levels">
      <label> {{level.name}}</label>
      <input type="text" name="name" placeholder="Level" ng-model="level.value" />
    </div>
    
    <div class="2u">
      <button class="button special" ng-click="addRoute(newRoute);newRoute = null;">add</button>
    </div>
  </div>
</form>


<table class="table">
  <tr>
    <td>Start</td>
    <td>Stop</td> 
    <td>Duration</td>
    <td>Activity</td>
    <td></td>
  </tr>
  <tr ng-repeat="route in routes">
    <td>{{route.start}}</td>
    <td>{{route.stop}}</td>
    <td>{{route.duration}}</td>
    <td>{{route.activity_name}}</td>
    <td>  <button class="btn btn-danger" ng-click="removeRoute(route)"><span class="glyphicon glyphicon-trash"></span>
</button>    </td>
  </tr>
</table>


<table class="table">
  <tr>
  </tr>
  <tr ng-repeat="connection in transport.connections">
    <td>{{connection.from.station.name}}</td>

    <td>{{connection.from.departure| date:'medium'}}</td>
    <td>{{connection.from.platform}}</td>
  </tr>
</table>



